body {
  background: #969696;
  margin: 0;
  padding: 30px 30px 0;
  text-align: center;
  color: #565656;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

div {
  box-sizing: border-box;
  padding-bottom: 18px;
}

.main-container {
  max-width: 325px;
  margin: auto;
}
.content-container {
  background: #EDEAE3;
  background: linear-gradient(to bottom, #D7D3C8, #F6F4EC);
  padding: 18px;
}
.branding {
  text-align: left;
  font-family: "Fira Sans";
  font-size: 26px;
}
.message {
  font-size: 32px;
  font-weight: 300;
}
.every-call-counts {
  font-size: 28px;
  font-weight: 300;
}
.every-call-counts span {
  font-style: italic;
}
.content {
  background: #FFFFFF;
  padding: 18px;
  font-size: 14px;
  margin: 54px 0 36px;
}
.content a {
  font-weight: bold;
}
.footer {
  background: #FFFFFF;
  padding: 16px;
  text-align: left;
  color: #BBBBBB;
}

button, input {
  margin-bottom: 18px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

input {
  padding: 5px 0px;
  border: solid 1px #D0D0D0;
  box-shadow: inset 0 5px 4px -4px #E3E3E3;
  background: #FAFAFA;
}

button {
  background: blue;
  color: #FFFFFF;
  border: none;
  padding: 10px 0;
  background: #318DD0;
  background: linear-gradient(to bottom, #43A5E2, #1E6EB7);
  cursor: pointer;
  box-shadow: 0px 2px 2px #999999;
  font-size: 22px;
}

.phone-container {
  padding: 0 18px;
}

.phone-container div {
  padding: 0;
  margin-bottom: 5px;
}
.disclaimer {
  font-size: 12px;
}
a {
  color: #27AAE1;
  text-decoration: none;
}
.count-down {
  color: white;
  position: relative;
  width: 145px;
  height: 70px;
  padding: 0;
  margin: 18px auto;
}
.count-down-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 25px;
  font-weight: 300;
  padding: 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px;
}
.phone-container div .fa-mobile {
  font-size: 18px;
  margin: 0 5px;
  vertical-align: bottom;
}
.days-left {
  font-size: 51px;
  font-weight: bold;
}
.count-down-top {
  background: #BF3832;
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 3px;
}
.count-down-bottom {
  background: #CC413C;
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  top: 50%;
  border-radius: 3px;
}
